<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentisme Acasa</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.cdnfonts.com/css/gagalin" rel="stylesheet">
</head>
<body id="body">
    <header>
        <nav class="navbar">
            <div class="group_nav">
                <div class="logos">
                    <a href="/"><img class="logo_img" src="../static/images/logo.jpeg" alt="error img"></a>
                    <a href="/" class="logo_text">Studențisme</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero mobile-version" id="hero_mobile">
            <div class="hero-left" id="hero__left_mobile">
                <h2>Posteaza evenimente pentru studenti!!</h2>
                <div class="cta-buttons-container">
                    <button class="cta-button">
                        <a href="/post_event">Postează-ți evenimentul!</a>
                    </button>
                </div>
            </div>
            <div class="hero-right" id="hero__right_mobile">
                <div class="image-container">
                    <img src="../static/images/image1.jpg" alt="Event Image 1">
                </div>
                <div class="image-container">
                    <img src="../static/images/image2.webp" alt="Event Image 2">
                </div>
                <div class="image-container">
                    <img src="../static/images/image3.jpg" alt="Event Image 3">
                </div>
                <div class="image-container">
                    <img src="../static/images/image4.jpg" alt="Event Image 4">
                </div>
            </div>
        </section>
        <section id="events_section">
            <div id="events">
                {% for event in events %}
                    <article class="event-card" data-article="{{ links[loop.index0] }}">
                        <img src="{{ url_for('static', 
                        filename=event[3].replace('app/static/', '').replace('static/', '')) }}"
                        alt="{{ event[1] }}">
                        <h3>{{ event[1] }}</h3>
                        <p class="event-date">Date: {{ dates[loop.index0] }} </p>
                        <p class="event-location">{{ event[5] }}</p>
                    </article>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <nav>
        <p>&copy; 2024 Studențisme. All rights reserved.</p>
    </footer>
    <script src="../static/js/index.js"></script>
</body>
</html>